---
import { getCollection } from 'astro:content';
import Layout from '@layouts/Default.astro';
import BlogList from '@components/blog/BlogList.astro';

const posts = await getCollection('blog').then((collection) =>
  collection.reverse()
);
---

<Layout
  title='Blog'
  description='Brutal Blog | On this page you can find a collection of blogposts'
  pageTitle='Brutal Blog'
>
  <main class='bg-pattern p-6'>
    <BlogList posts={posts} />
  </main>
</Layout>

<style>
  :global(body) {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box;
  }

  :global(#root) {
    flex: 1;
  }

  .bg-pattern {
    background: repeating-linear-gradient(
      45deg,
      #F4F0D9,
      #F4F0D9 20px,
      #1b3c4f 20px,
      #1b3c4f 40px,
      #a95548 40px,
      #a95548 60px,
      #579763 60px,
      #579763 80px
    );
    background-size: 113.137px 113.137px;
    animation: moveBackground 6s linear infinite;
  }

  @keyframes moveBackground {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: -113.137px 0;
    }
  }

  main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
</style>