---
interface Props {
  href: string;
  target?: '_blank' | '_self';
  color?: string | undefined;
}

const { href, target, color = 'white' } = Astro.props;
---

<style define:vars={{ color: color }}>
  a.brutal-btn {
    filter: drop-shadow(4px 4px 0 rgb(0 0 0 / 1));
    background-color: white;
    border-radius: 0.5rem;
    display: inline-block;
    padding: 0.5rem 1rem;
    border: 2px solid black;
    transition: all;
    transition-duration: 0.1s;
    animation: ease-in-out;
    font-family: 'Sanchez', serif;
    cursor: pointer;
  }
  a.brutal-btn:hover {
    filter: drop-shadow(0px 0px 0 rgb(0 0 0 / 1));
    background-color: #579763;
    color: #F4F0D9;
    /* scale: 1.05; */
    transform: translate(2px, 2px);
  }
</style>

<a
  href={href}
  target={target}
  class='brutal-btn'
>
  <slot />
</a>
