---
import Layout from '@layouts/Default.astro';
import RecentBlogPosts from '@components/generic/RecentBlogPosts.astro';
import MobileSocials from '@components/home/MobileSocials.astro';
import Pill from '@components/custom/Pill.astro';
import Button from '@components/custom/Button.astro';
import Card from '@components/custom/Card.astro';
import { getCollection } from 'astro:content';

const blogPosts = await getCollection('blog');

const uniqueTags = new Set(blogPosts.flatMap(post => post.data.tags));

const { post } = Astro.props;
---

<Layout
  title='Home'
  pageTitle='Pose Depot | Home'
  description='A collection of ControlNet poses.'
>
  <!-- All sides should have the same amount of padding -->
  <main class='bg-pattern p-6'>
    <MobileSocials />
    <section id='about' class='grid md:grid-cols-2 gap-8'>
      <h2 class='hidden'>About Brutal</h2>
      
      <!-- First card -->
      <div class='col-span-1'>
        <Card>
          <div class='flex flex-col justify-between items-start gap-4'>
            <p class='outfit text-3xl md:text-5xl lg:text-7xl'>
              Brutal theme for <a
                class='text-white'
                target='_blank'
                href='https://astro.build/'>Astro</a>
            </p>
            <p class='outfit text-xl md:text-3xl lg:text-5xl'>
              A minimalistic, neobrutalism theme for Astro.
            </p>
            <Button target={'_self'} href={import.meta.env.BASE_URL + '/gallery/'}>
              Check out the blog &rarr;
            </Button>
          </div>
        </Card>
      </div>
      
      <!-- Second card -->
      <div class='col-span-1'>
        <Card>
          <h2 class='text-3xl md:text-4xl lg:text-6xl mb-4 dm-serif'>
            Las gemas de cristal?
          </h2>
          <p class='poppins'>
            Te ayudan si estás mal, pero no te las comas.
            Gnomo de jardín vs. gnomo de azotea. Texto de prueba elegantesrrimo.
          </p>
        </Card>
      </div>

      <!-- Tag search card spans full width on new row -->
      <div class='col-span-2'>
        <Card>
          <div class='flex items-center flex-wrap'>
            <h2 class='text-3xl md:text-4xl lg:text-6xl dm-serif mb-2 mr-0 md:mr-4 lg:mr-5'>
              Tag search:
            </h2>
            <ul class='flex gap-4 flex-wrap justify-start mb-2 mt-2'>
              {
                Array.from(uniqueTags).map((tag) => (
                  <li>
                    <a class="sanchez" href={import.meta.env.BASE_URL + `/gallery/tags/${tag.toLowerCase()}/`}>
                      <Pill>{tag}</Pill>
                    </a>
                  </li>
                ))
              }
            </ul>
          </div>
        </Card>
      </div>
    </section>
    <RecentBlogPosts />
  </main>
</Layout>

<style>
  :global(body) {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box;
  }

  :global(#root) {
    flex: 1;
  }

  .bg-pattern {
    background: repeating-linear-gradient(
      45deg,
      #F4F0D9,
      #F4F0D9 20px,
      #1b3c4f 20px,
      #1b3c4f 40px,
      #a95548 40px,
      #a95548 60px,
      #579763 60px,
      #579763 80px
    );
    background-size: 113.1px 113.1px;
    animation: moveBackground 6s linear infinite;
  }

  @keyframes moveBackground {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: -113.1px 0;
    }
  }

  main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
</style>
