---
import Layout from '@layouts/Default.astro';
import RecentBlogPosts from '@components/generic/RecentBlogPosts.astro';
import MobileSocials from '@components/home/MobileSocials.astro';
import Pill from '@components/custom/Pill.astro';
import Button from '@components/custom/Button.astro';
import Card from '@components/custom/Card.astro';
import { getCollection } from 'astro:content';

const blogPosts = await getCollection('blog');

const uniqueTags = new Set(blogPosts.flatMap(post => post.data.tags));

const { post } = Astro.props;
---

<Layout
  title='Home'
  pageTitle='Pose Depot | Home'
  description='A collection of ControlNet poses.'
>
  <!-- All sides should have the same amount of padding -->
  <main class='bg-pattern p-6'>
    <MobileSocials />
    <section id='about' class='grid md:grid-cols-2 gap-8'>
      <h2 class='hidden'>About Brutal</h2>
      
      <!-- First card -->
      <div class='col-span-1'>
        <Card>
          <div class='flex flex-col justify-between items-start gap-4'>
            <p class='outfit text-3xl md:text-5xl lg:text-7xl'>
              Brutal theme for <a
                class='text-white'
                target='_blank'
                href='https://astro.build/'>Astro</a>
            </p>
            <p class='outfit text-xl md:text-3xl lg:text-5xl'>
              A minimalistic, neobrutalism theme for Astro.
            </p>
            <Button target={'_self'} href={import.meta.env.BASE_URL + '/gallery/'}>
              Check out the blog &rarr;
            </Button>
          </div>
        </Card>
      </div>
      
      <!-- Second card -->
      <div class='col-span-1'>
        <Card>
          <div class='flex flex-col md:flex-row gap-4 items-top'>
            <div class='flex-1'>
              <h2 class='text-3xl md:text-4xl lg:text-6xl mb-4 dm-serif'>
                Las gemas de cristal?
              </h2>
              <p class='poppins'>
                Te ayudan si estás mal, pero no te las comas.
                Gnomo de jardín vs. gnomo de azotea. Texto de prueba elegantesrrimo.
              </p>
            </div>
            <div class='flex-1 image-container'>
              <img src={import.meta.env.BASE_URL + '/index_generation_example/4F/Depth-small.png'} alt="Depth" class="image"> 
              <img src={import.meta.env.BASE_URL + '/index_generation_example/4F/Example-small.png'} alt="Example" class="image foreground_1"> 
              <img src={import.meta.env.BASE_URL + '/index_generation_example/4F/Canny-small.png'} alt="Canny" class="image foreground_2"> 
              <img src={import.meta.env.BASE_URL + '/index_generation_example/4F/NormalHand-small.png'} alt="NormalHand" class="image foreground_3">
              <img src={import.meta.env.BASE_URL + '/index_generation_example/4F/OpenPoseFull-small.png'} alt="OpenPoseFull" class="image foreground_4"> 
            </div>
          </div>
        </Card>
      </div>

      <!-- Tag search card spans full width on new row -->
      <div class='col-span-2'>
        <Card>
          <div class='flex items-center flex-wrap'>
            <h2 class='text-3xl md:text-4xl lg:text-6xl dm-serif mb-2 mr-0 md:mr-4 lg:mr-5'>
              Tag search:
            </h2>
            <ul class='flex gap-4 flex-wrap justify-start mb-2 mt-2'>
              {
                Array.from(uniqueTags).map((tag) => (
                  <li>
                    <a class="sanchez" href={import.meta.env.BASE_URL + `/gallery/tags/${tag.toLowerCase()}/`}>
                      <Pill>{tag}</Pill>
                    </a>
                  </li>
                ))
              }
            </ul>
          </div>
        </Card>
      </div>
    </section>
    <RecentBlogPosts />
  </main>
</Layout>

<style>
  :global(body) {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box;
  }

  :global(#root) {
    flex: 1;
  }

  .bg-pattern {
    background: repeating-linear-gradient(
      135deg,
      #F4F0D9,
      #F4F0D9 20px,
      #1b3c4f 20px,
      #1b3c4f 40px,
      #a95548 40px,
      #a95548 60px,
      #579763 60px,
      #579763 80px
    );
    background-size: 113.1px 113.1px;
    animation: moveBackground 6s linear infinite;
  }

  @keyframes moveBackground {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: -113.1px 0;
    }
  }

  main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .image-container {
    position: relative;
    width: 100%;
    max-width: 450px;
    aspect-ratio: 1; /* This ensures the container maintains a 1:1 aspect ratio */
    height: auto;
    overflow: hidden;
    margin-top: 0px;
  }

  .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem; /* Adds rounded corners */
    border: 3px solid black; /* Adds a black border */
  }

  .foreground {
    animation: moveMask 14s linear infinite;
    mask-image: repeating-linear-gradient(206.55deg, black 0%, black 10%, transparent 10%, transparent 50%, black 50%, black 60%, transparent 60%, transparent 100%);
    mask-size: 400% 200%;
  }

  .foreground_1 {
    animation: moveMask 14s linear infinite;
    mask-image: repeating-linear-gradient(206.55deg, transparent 0%, transparent 10%, black 10%, black 20%, transparent 20%, transparent 60%, black 60%, black 70%, transparent 70%, transparent 100%);
    mask-size: 400% 200%;
  }

  .foreground_2 {
    animation: moveMask 14s linear infinite;
    mask-image: repeating-linear-gradient(206.55deg, transparent 0%, transparent 20%, black 20%, black 30%, transparent 30%, transparent 70%, black 70%, black 80%, transparent 80%, transparent 100%);
    mask-size: 400% 200%;
  }

  .foreground_3 {
    animation: moveMask 14s linear infinite;
    mask-image: repeating-linear-gradient(206.55deg, transparent 0%, transparent 30%, black 30%, black 40%, transparent 40%, transparent 80%, black 80%, black 90%, transparent 90%, transparent 100%);
    mask-size: 400% 200%;
  }

  .foreground_4 {
    animation: moveMask 14s linear infinite;
    mask-image: repeating-linear-gradient(206.55deg, transparent 0%, transparent 40%, black 40%, black 50%, transparent 50%, transparent 90%, black 90%, black 100%, transparent 100%);
    mask-size: 400% 200%;
  }

  @keyframes moveMask {
    0% {
      mask-position: 0% 0%;
    }
    100% {
      mask-position: 400% 0%;
    }
  }
</style>
