---
interface Props {
  content: any;
}

const { content } = Astro.props;
---

<article class='prose-slate w-sm md:w-prose md:prose poppins'>
  <!-- Instead of going back to the blog page we use the browser's back button, so when we filter the blog posts we don't lose the filter
       Old code withouth the onclick event:

       <a href={import.meta.env.BASE_URL + '/blog/'} title='Back to blog'>&larr; Back to blog</a>
  -->
  <a href={import.meta.env.BASE_URL + '/blog/'} title='Back to blog' onclick='window.history.back()'>&larr; Back to blog</a>
  <p class='text-slate text-sm md:text-base'>
    Published on {content.pubDate} by {content.author}
  </p>
  <slot />
  <p class='text-slate'>Written by {content.author}</p>
  <a href={import.meta.env.BASE_URL + '/blog/'} title='Back to blog' onclick='window.history.back()'>&larr; Back to blog</a>
</article>
