---
import type { CollectionEntry } from 'astro:content';
import BlogSummaryCard from './BlogSummaryCard.astro';

interface Props {
  posts: CollectionEntry<'blog'>[];
}

const { posts } = Astro.props;
---

<ul class='grid gap-5  grid-cols-[repeat(auto-fit, minmax(250px, 1fr))]'>
  {
    posts.map((post) => {
      return (
        <li>
          <BlogSummaryCard post={post} />
        </li>
      );
    })
  }
</ul>

<style>
  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
  
  /* Adjust gap and column min-width for different screen sizes */
  @media (min-width: 768px) {
    ul {
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }
  }

  @media (min-width: 1024px) {
    ul {
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }
  }

  li {
    list-style: none;
  }
</style>
